
/**
	About Styles
*/
.about-content h6 {
    color: #20c9c7;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase; }
  .about-content h2 {
    color: #333333;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'Khula', sans-serif;
    padding-right: 80px;
  }
  .about-content p {
    color: #333333;
    font-size: 14px;
    line-height: 26px;
  }
  .about-content .cr-btn, .about-content button.cr-btn, .about-content a.cr-btn {
    margin-top: 14px;
  }
  .about-content ul {
    text-align: left;
    margin-top: 25px; }
  .about-content.about-content-2 {
    padding: 70px 0; }
    .about-content.about-content-2 h2 {
      padding-right: 290px; }
    .about-content.about-content-2 p {
      padding-right: 205px; }
    .about-content.about-content-2 ul li {
      margin-bottom: 10px; }
      .about-content.about-content-2 ul li:last-child {
        margin-bottom: 0; }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about-content h2 {
      padding-right: 0; }
  
    .about-thumb-3 {
      text-align: center; }
  
    .about-content.about-content-2 h2 {
      padding-right: 0; }
    .about-content.about-content-2 p {
      padding-right: 0; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-content {
      text-align: center;
      padding: 0 30px;
      padding-top: 50px; }
      .about-content h2 {
        padding-right: 0;
        font-size: 38px; }
      .about-content ul {
        text-align: left; }
  
    .about-thumb-3 {
      text-align: center; }
  
    .about-content-2 {
      text-align: left; }
  
    .about-content.about-content-2 h2 {
      padding-right: 100px; }
    .about-content.about-content-2 p {
      padding-right: 0; } }
  @media only screen and (max-width: 767px) {
    .about-content {
      text-align: center;
      padding: 0 30px;
      padding-top: 50px; }
      .about-content h2 {
        padding-right: 0; }
      .about-content ul {
        text-align: left; }
  
    .about-thumb-3 {
      text-align: center; }
  
    .about-content.about-content-2 h2 {
      padding-right: 0; }
    .about-content.about-content-2 p {
      padding-right: 0; } }
  @media only screen and (max-width: 575px) {
    .about-content {
      padding: 0;
      padding-top: 30px; }
      .about-content h2 {
        font-size: 32px; } }
  .about-area {
    position: relative; }
  .about-content-3 {
    min-height: 590px;
    padding-top: 150px;
    position: relative;
    z-index: 2; }
  
  .about-thumb-2 {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: right; }
    .about-thumb-2 img {
      width: auto; }
  
  @media only screen and (min-width: 1600px) and (max-width: 1919px) {
    .about-thumb-2 img {
      width: 80%; } }
  @media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .about-content-3 {
      min-height: 450px;
      padding-top: 100px; }
  
    .about-thumb-2 img {
      width: 63%; } }
  @media only screen and (min-width: 1401px) and (max-width: 1600px) {
    .about-content-3 {
      min-height: 450px;
      padding-top: 100px; }
  
    .about-thumb-2 img {
      width: 70%; } }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about-content-3 {
      min-height: initial;
      padding-top: 0;
      padding-bottom: 50px;
      text-align: center; }
  
    .about-thumb-2 {
      position: relative;
      text-align: center;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      top: 0; }
      .about-thumb-2 img {
        width: 80%; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-content-3 {
      min-height: initial;
      padding-top: 0;
      padding-bottom: 50px;
      text-align: center; }
  
    .about-thumb-2 {
      position: relative;
      text-align: center;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      top: 0; }
      .about-thumb-2 img {
        width: 90%; } }
  @media only screen and (max-width: 767px) {
    .about-content-3 {
      min-height: initial;
      padding-top: 0;
      padding-bottom: 50px;
      text-align: center; }
  
    .about-thumb-2 {
      position: relative;
      text-align: center;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      top: 0; }
      .about-thumb-2 img {
        width: 100%; } }
    .about-content-4 h3 {
    font-size: 48px;
    font-weight: 700;
  }
    .about-content-4 h1,
    .about-content-4 h2,
    .about-content-4 h3,
    .about-content-4 h4,
    .about-content-4 h6 {
      color: #333333;
      margin-bottom: 9px; }
    .about-content-4 h3 {
        color: #031b52;
        margin-bottom: 15px;
      }
    .about-content-4 p {
      margin-bottom: 20px;
      color: #333333; }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about-content-4 {
    padding-bottom: 25px;
    padding-right: 30px;
  } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-content-4 {
      padding-right: 30px;
      padding-top: 0; }
    .counter {
        padding: 40px 0;
      }}
  @media only screen and (max-width: 767px) {
    .about-content-4 {
    padding-left: 0;
    padding-right: 0;
  } }
  /* About Me Page Syle */
  .pg-about-content {
    padding-right: 35px; }
    .pg-about-content h2 {
      font-size: 48px;
      line-height: 55px;
      font-weight: 700;
      color: #333333;
      margin-bottom: 40px; }
    .pg-about-content .signature-title {
      margin-top: 40px; }
      .signature-title h5 {
        color: #333;
        font-family: "Khula",sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 36px;
        margin-bottom: 2px;
      }
      .signature-title h6 {
        font-size: 13px;
        color: #333333; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .pg-about-content {
        padding-right: 0; }
        .pg-about-content h2 {
          font-size: 38px;
          line-height: 46px;
          margin-bottom: 15px; }
        .pg-about-content .signature-title {
          margin-top: 30px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .pg-about-content {
        padding-right: 0;
        padding-top: 40px; }
        .pg-about-content h2 {
          font-size: 38px;
          line-height: 46px;
          margin-bottom: 15px; }
        .pg-about-content .signature-title {
          margin-top: 30px; } }
    @media only screen and (max-width: 767px) { 
      .pg-about-content {
        padding-right: 0;
        padding-top: 40px; }
        .pg-about-content h2 {
          font-size: 32px;
          line-height: 38px;
          margin-bottom: 15px; }
        .pg-about-content .signature-title {
          margin-top: 30px; } }
  
  .pg-about-thumb {
    text-align: center; }

    .designation_title{
        font-size: 15px;
        color: #055998;
        font-weight: 600;
    }
.sharer{
    padding: 12px 10px;
}

.about_title{
    text-align: center;
    width: 100%;
    float: left;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
    /* color: #fff; */
}
.btn-facebook {
    color: #3b5998;
}
.btn-twitter {
    color: #00aced;
}

.small-img-left {
  max-width: 50% !important;
  height: auto;
  float: left;
}

.small-img-right {
  max-width: 50% !important;
  height: auto;
  float: right;
}

.small-advsry-img-right {
  max-width: 30% !important;
  height: auto;
  float: right;
}

.small-advsry-img-left {
  max-width: 30% !important;
  height: auto;
  float: left;
}

@media only screen and (max-width: 600px) {
  .small-img-left {
    max-width: 50% !important;
    height: auto;
    float: none;
  }
  .small-img-right {
    max-width: 50% !important;
    height: auto;
    float: none;
  }
  .small-advsry-img-left {
    max-width: 30% !important;
    height: auto;
    float: none;
  }
  .small-advsry-img-right {
    max-width: 30% !important;
    height: auto;
    float: none;
  }
} 






