* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Arial, helvetica neue, Helvetica, sans-serif
}

a {
	color: #272727;
	font-weight: 700;
	text-decoration: none
}

a:hover {
	color: #3599dc;
	text-decoration: none
}

h1 {
	text-align: center;
	font-size: 3em
}

.content-marq {
	display: block;
	width: 1200px;
	background: #3599dc;
	padding: .2em;
	overflow: hidden;
	margin: 0 auto
}

.container-marq {
	width: 100%;
	background: #f1f1f1;
	float: left;
	display: inline-block;
	overflow: hidden;
	box-sizing: border-box;
	height: 45px;
	position: relative;
	cursor: pointer
}

.marquee-sibling {
	padding: 0;
	background: #0d58ab;
	width: 140px;
	height: 45px;
	line-height: 42px;
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	text-align: center;
	float: left;
	left: 0;
	z-index: 99
}

.marquee,
*[class^=marquee] {
	display: inline-block;
	white-space: nowrap;
	position: absolute
}

.marquee {
	margin-left: 25%
}

.marquee-content-items {
	display: inline-block;
	padding: 5px;
	margin: 0;
	height: 45px;
	position: relative
}

.marquee-content-items li {
	display: inline-block;
	line-height: 35px;
	color: #272727
}

.marquee-content-items li:after {
	content: "|";
	margin: 0 1em
}

/*  >>>>>>>>>>>>. Coursel .............. */