/**
  * Name: BOOKFLARE
  * Version: 1.0
  * Author: Themesflat
  * Author URI: http://www.themesflat.com
**/

@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i|Playfair+Display:400,400i,700,700i,900,900i|Poppins:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');
@import url("hall-of-fun-font.css");
@import url("font-awesome.min.css");
@import url("elegant-icons.css");
@import url("publicotext.css");
@import url("liblary.css");
@import url("shortcode.css");
@import url("bf-icon.css");
@import url('ionicons.css');
@import url("freestyle-font.css");
@import url("jquery-fancybox.css");
@import url("owl.carousel.css");
@import url("woocommerce.css");

/**
  *
  * Reset
  * Repeatable Patterns
  * Extra Class 
  * Top
  * Header
  * Mobile Menu Button 
  * Mobile navigation
  * Flat Page Title
  * Flat Paginations
  * Footer
  * Widget
  * Bottom
  * Events Pages
  * Instructors Pages
  * FAQs Pages
  * Shop Pages
  * About Pages
  * Courses Pages
  * Blog Pages
  * Flat Slider
  * Go Top
  * Preload
  * Switcher
  *
**/

/* Reset
-------------------------------------------------- */
    html{overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
    body{-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
    a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,caption,canvas,center,cite,code,dd,del,details,dfn,dialog,div,dl,dt,em,embed,fieldset,figcaption,figure,form,footer,header,hgroup,h1,h2,h3,h4,h5,h6,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,tt,table,tbody,textarea,tfoot,thead,time,tr,th,td,u,ul,var,video{font-family:inherit;font-weight:inherit;font-style:inherit;vertical-align:baseline;padding:0;border:0;outline:0;background:transparent}
    article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
    ol,ul{list-style:none}
    blockquote,q{-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none;quotes:none}
    figure{margin:0}
    :focus{outline:0}
    table{border-collapse:collapse;border-spacing:0}
    img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle}
    legend{white-space:normal}
    button,input,select,textarea{margin:0;max-width:100%;vertical-align:baseline;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
    button,input{line-height:normal}
    input,textarea{background-image:-webkit-linear-gradient(hsla(0,0%,100%,0),hsla(0,0%,100%,0))}
    button,input[type="button"],input[type="reset"],input[type="submit"]{line-height:1;cursor:pointer;-webkit-appearance:button;border:none}
    input[type="checkbox"],input[type="radio"]{padding:0}
    input[type="search"]{-webkit-appearance:textfield}
    input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
    button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
    *,:before,:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

/* Repeatable Patterns
-------------------------------------------------- */
    *,
    *:before,
    *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    body {
        overflow: hidden;
        color: #666;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.7;
        font-family: Muli,Arial,sans-serif;
    }

    body.bg-body {
        background: url("../images/bg-body.png") center center no-repeat;
        background-size: cover;
    }

    body.bg-body2 {
        background: #f8f9ff;
    }

    body.bg-body3 {
        background: #fff;
    }

    a { 
        font-size: 14px;    
        text-decoration: none;
        color: #192836;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    a:hover,
    a:focus {
        
        text-decoration: none;
        outline: 0;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    img {
        max-width: 100%;
        height: auto;       
    }

    .small-img {
        max-width: 50% !important;
        height: auto;       
    }

    b, strong {
        font-weight: 900;
    }

    button {
        border: none;
    }

    button,
    input[type="button"],
    input[type="reset"],
    input[type="submit"] {      
        display: inline-block;
        padding: 0px 28px;
        height: 44px;
        line-height: 24px;
        font-size: 14px;
        text-transform: uppercase;
        color: #ffffff;
        background: #f3728b;
        border: 2px solid #f3728b;
        -webkit-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        -moz-border-radius: 2px;
        position: relative;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    button:hover,
    input[type="button"]:hover,
    input[type="reset"]:hover,
    input[type="submit"]:hover {        
        color: #f3728b;
        background: transparent;
    }

    button:focus {
        outline: 0;
    }


   

    input[type="search"] {
        width: 240px;
        background-color: #eff0f1;
        font-size: 12px;
        font-weight: 700;
    }




/* Extra Class 
-------------------------------------------------- */
    /* Backgrounds */
    .bg-fff {
        background: #fff;
    }

    .bg-15222e {
        background: #15222e;
    }

    .bg-192836 {
        background: #192836;
    }

    .bg-263134 {
        background: #263134;
    }
    
    .bg-252642 {
        background: #252642;
    }
    
    .bg-1d3240 {
        background: #1d3240;
    }
    
    .bg-282939 {
        background: #282939;
    }
    
    .bg-19333c {
        background: #19333c;
    }
    
    .bg-252a36 {
        background: #252a36;
    }
    
    .bg-1c3239 {
        background: #1c3239;
    }
    
    .bg-293542 {
        background: #293542;
    }
    
    .bg-1d2942 {
        background: #1d2942;
    }
    
    .bg-172e3f {
        background: #172e3f;
    }
    
    .bg-27313a {
        background: #27313a;
    }

    /* Color */
    .color-fff {
        color: #fff;
    }

    .color-f3728b {
        color: #f3728b;
    }

    .color-2ebd59 {
        color: #2ebd59;
    }

    .color-515e6f {
        color: #515e6f;
    }

    .color-2ba2db {
        color: #2ba2db;
    }

    .color-0dc9ac {
        color: #0dc9ac;
    }

    .color-f05455 {
        color: #f05455;
    }

    .color-ec5252 {
        color: #ec5252;
    }

    .color-192836 {
        color: #192836;
    }

    /* Fonts */
    .font-Roboto {
        font-family: 'Roboto';
    }

    .font-Poppins {
        font-family: 'Poppins';
    }

    .font-Noto {
        font-family: 'Noto Serif';
    }

    .font-Playfair {
        font-family: 'Playfair Display';
    }

    .font-Hall {
        font-family: "hall-of-fun";
    }

    .font-Publico {
        font-family: "PublicoText";
    }

    .font-Freestyle {
        font-family: "freestyle-font";
    }

    .font-size-20 {
        font-size: 20px;
    }

    .font-italic {
        font-style: italic;
    }

    .text-underline {
        text-decoration: underline !important;
    }

    /* Font Weight */
    .font-weight-100 {
        font-weight: 100;
    }

    .font-weight-200 {
        font-weight: 200;
    }

    .font-weight-300 {
        font-weight: 300;
    }

    .font-weight-400 {
        font-weight: 400;
    }

    .font-weight-500 {
        font-weight: 500;
    }

    .font-weight-600 {
        font-weight: 600;
    }

    .font-weight-700 {
        font-weight: 700;
    }

/* Top
-------------------------------------------------- */

    .top {
        position: initial;
    }

    .top-nav-li{
        padding: 0px 5px;
    }

    .top .flat-action.style1 {
        float: left;
        width: 16%;
        margin-top: -3px;
    }

    .top .flat-adds {
        float: left;
        width: 84%;
        padding-right: 11px;
        margin-top: 14px;
        margin-bottom: 8px;
    }

    /* style2 */
    .top .socails ul li a {
        color: #fff;
    }

    .top .socails ul li {
        margin-left: 11px;
    }

    .top .socails {
        float: left;
        width: 67.5%;
        padding: 6px 6px 0px 0;
    }

    .top .socails ul li a:hover {
        color: #fff;
    }

    .top .socails.v2 ul li a:hover {
        color: #fff;
    }

    .top .flat-action.style2 {
        float: right;
    }

/* Header
-------------------------------------------------- */
    #header {
        position: relative;
        box-shadow: 5px 5px 5px rgb(236, 236, 236);
    }

    /* Logo  */
    #logo {
        float: left;
        width: 100%;
        padding: 30px;
    }

    /* nav-menu */
    .nav-wrap {
        float: right;
        margin-bottom: -10px;
    }
    #main-nav{
        margin-top: -13px;
    }
    #mainnav > ul {
        list-style: none;
        margin:  0;
        padding:  0;
    }

    #main-nav > ul > li {
        position: relative;
        text-align: left;
        display: inline-block;
    }

    #main-nav ul li a {
        line-height: 93px;
        display: block;
        font-weight: 700;
        padding: 0 33px 0 0;
    font-family: Muli,Arial,sans-serif;
    color: #666;
    }

    #main-nav  ul > li > a {
        position: relative;
    font-family: Muli,Arial,sans-serif;
    color: #666;
    }

    #main-nav  ul > li.active > a,
    #main-nav ul.submenu > li:hover > a {
        color: #f3728b;
    font-family: Muli,Arial,sans-serif;
    color: #666;
    }

    #main-nav ul.submenu > li.item-has-child > a:after {
        content: "\35";
        font-family: "ElegantIcons";
        position: absolute;
        right: 0;
    }

    #main-nav ul.submenu > li > a {
        font-weight: 400;
        line-height: 40px;
        display: block;
        margin-bottom: 2px;
        font-family: "Roboto";
        position: relative;
    font-family: Muli,Arial,sans-serif;
    color: #666;
    }

    #main-nav ul.submenu {
        position: absolute;
        top: 150%;
        /* left: -30px; */
        width: 250px;
        background: #ffffff;
        box-shadow: 0px 5px 14.25px 0.75px rgba(0, 0, 0, 0.05);
        /* padding: 15px 30px; */
        padding: 6px 10px;
        z-index: 9999;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.3s ease-in-out;
           -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
             -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
    }

    #main-nav > ul.menu li:hover > ul.submenu {
        top: 100%;
        opacity: 1;
        visibility: visible;
    }

    #main-nav ul.submenu li ul {
        position: absolute;
        left: 222px;
        top: -12px !important;
    }

    #header #main-nav ul li {
        position: relative;
    }

    #main-nav > ul.menu li:hover > a {
        color: #fff;
        background-color: #0d58ab;
        padding-left: 33px;
    }

    #main-nav > ul.menu li:hover > ul.submenu {
        top: 80%;
        opacity: 1;
        visibility: visible;
    }

    #header.style3 .nav-wrap {
        width: 81%;
    }

    /* menu-extra */
    .extra-menu {
        width: 27%;
        float: right;
        padding: 20px 0 9px;
    }

    .extra-menu ul li {
        display: inline-block;
    }

    .extra-menu ul li:not(:last-child) {
        margin-right: 22px;
    }

    .extra-menu a {
        line-height: 64px;
    }

    .extra-menu .cart {
        float: right;
    }

    .extra-menu .cart a {
        padding-right: 10px;
    }

    .extra-menu span.bf-icon { 
        font-size: 16px;
    }

    .extra-menu .cart {
        position: relative;
    }

    .extra-menu span.count-cart {
        position: absolute;
        top: 16px;
        right: 3px;
        background: #fa778a;
        color: #fff;
        width: 13px;
        height: 13px;
        border-radius: 6px;
        line-height: 13px;
        text-align: center;
        font-size: 10px;
    }

    #header.style3 .extra-menu {
        width: 4%;
    }

    /* search-header */
    #header .wrap-search-header {
        float: left;
        padding: 4px 0 0 7px;
    }

    .search-header {
        position: relative;
    }

    .search-header button.btn-search{
        background: transparent;
        color: #515e6f;
        border: unset;
        position: absolute;
        right: 0px;
        z-index: 1;
        top: 0;
        width: 48px;
        font-size: 17px;
        line-height: 48px;
        padding-right: 36px;
    }

    .search-header button.btn-search:hover {
        color: #fa778a;
    }

    .show-search {
        position: relative;
    }

    .show-search a {
        color: #fff;
        font-size: 18px;
    }

    .top-search {
        position: absolute;
        right: 0;
        top: 110%;
    }

    .show-search a {
        color: #fff;
        margin-left: 21px;
        padding-left: 31px;
        font-size: 18px;
        padding: 0px;    
        position: relative;
    }

    .show-search a:before {
        content: "";
        position: absolute;
        left: 0;
        top: 1px;
        width: 1px;
        height: 20px;
    }

    .show-search a i {
        width: 16px;
    }

    .show-search a:hover,
    .show-search a i:hover,
    .show-search.active a .icon-search:hover:before {
        color: #f3728b;
    }

    #header.style2.v2 .show-search a:hover,
    #header.style2.v2 .show-search a i:hover,
    #header.style2.v2 .show-search.active a .icon-search:hover:before,
    #header.style2.v2  .show-search.active a .icon-search:before {
        color: #ec5252;
    }

    .show-search.active a .icon-search:before {
        content: "\f00d";
        color: #f3728b;
        font-family: "FontAwesome";
    }

    .top-search {
        position: absolute;
        right: -5px;
        top: 138%;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .top-search.show {
        visibility: visible;
        opacity: 1;
        z-index: 9999;
        top: 100%;
    }

    .top-search.widget-search .search-form:before {
        content: unset;
    }

    .top-search.widget-search button.search-submit:before {
        font-size: 14px;
    }

    /* Header Style2 */
    #header.style2 #logo {
        padding: 31px 0 29px;
    }

    #header.style2 #main-nav > ul > li {
        margin-left: 31px;
    }
    #header.style2 #main-nav > ul > li > a {
        color: #fff;
        padding-right: 0;
        line-height: 87px;
    }

    #header.style2 #main-nav > ul > li > a:after {
        content: "";
        width: 0;
        height: 3px;
        background: #f3728b;
        position: absolute;
        bottom: 31px;
        left: 0;
        -webkit-transition: all 0.3s ease-in-out;
           -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
             -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
    }

    #header.style2.v2 #main-nav > ul > li > a:after {
        background: #ec5252;
    }

    #header.style2 #main-nav > ul > li > a:hover,
    #header.style2 #main-nav > ul > li.active > a,
    #header.style2 .extra-menu ul li.cart:hover a {
        color: #f3728b;
    }

    #header.style2.v2 #main-nav > ul > li > a:hover, 
    #header.style2.v2 #main-nav > ul > li.active > a, 
    #header.style2.v2 .extra-menu ul li.cart:hover a {
        color: #ec5252;
    }

    #header.style2 #main-nav > ul > li > a:hover:after,
    #header.style2 #main-nav > ul > li.active > a:after {
        width: 100%;
    }

    #header.style2 .extra-menu ul li.cart a {
        color: #fff;
    }

    #header.style2 .extra-menu ul li:not(:last-child) {
        margin-right: 11px;
    }

    #header.style2 .extra-menu {
        width: 9%;
        padding: 13px 0 12px;
    }

    #header.style2 .nav-wrap {
        width: 76%;
    }

    #header.style2.v2 #main-nav  ul > li.active > a,
    #header.style2.v2 #main-nav ul.submenu > li:hover > a {
        color: #ec5252;
    }

    #header.style2.v2 #main-nav > ul.menu li:hover > a {
        color: #ec5252;
    }

    #header.style2.v2 #main-nav ul.submenu {
        width: 220px;
    }

    #header.style2.v2 #main-nav ul.submenu li ul {
        left: 191px;
    }

    #header.style2.v2 .extra-menu span.count-cart {
        background: #ec5252;
    }

    #header.style2.v3 #main-nav > ul > li > a,
    #header.style2.v3 .extra-menu ul li.cart a {
        color: #192836;
    }

    #header.style2.v3 #main-nav > ul > li > a:hover, 
    #header.style2.v3 #main-nav > ul > li.active > a, 
    #header.style2.v3 .extra-menu ul li.cart:hover a {
        color: #f3728b;
    }

    #header.style2.v3 #main-nav {
        margin-right: -14px;
    }

    #header.style2.v2 #main-nav {
        margin-right: -15px;
    }

    /* Fixed Menu */
    #header.fixed-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;

    }

/* Mobile Menu Button 
-------------------------------------------------- */
    .mobile-button {
        display:none;
        position:absolute;
        width:26px;
        height:26px;
        float:right;
        top:50%;
        right: 15px;
        background-color:transparent;
        cursor:pointer;
        -webkit-transition:all 0.3s ease;
        -moz-transition:all 0.3s ease;
        -ms-transition:all 0.3s ease;
        -o-transition:all 0.3s ease;
        transition:all 0.3s ease;
        -webkit-transform:translateY(-50%);
        -ms-transform:translateY(-50%);
        -o-transform:translateY(-50%);
        transform:translateY(-50%);
    }

    .mobile-button:before,
    .mobile-button:after,
    .mobile-button span {
        background-color:#f3728b;
        -webkit-transition:all ease 0.3s;
        -moz-transition:all ease 0.3s;
        transition:all ease 0.3s;
    }

    .mobile-button:before,
    .mobile-button:after {
        content:'';
        position:absolute;
        top:0;
        height:3px;
        width:100%;
        left:0;
        top:50%;
        -webkit-transform-origin:50% 50%;
        -ms-transform-origin:50% 50%;
        transform-origin:50% 50%;
    }

    .mobile-button span {
        position:absolute;
        width:100%;
        height:3px;
        left:0;
        top:50%;
        overflow:hidden;
        text-indent:200%;
    }

    .mobile-button:before {
        -webkit-transform:translate3d(0,-7px,0);
        -moz-transform:translate3d(0,-7px,0);
        transform:translate3d(0,-7px,0);
    }

    .mobile-button:after {
        -webkit-transform:translate3d(0,7px,0);
        -moz-transform:translate3d(0,7px,0);
        transform:translate3d(0,7px,0);
    }

    .mobile-button.active span {
        opacity:0;
    }

    .mobile-button.active:before {
        -webkit-transform:rotate3d(0,0,1,45deg);
        -moz-transform:rotate3d(0,0,1,45deg);
        transform:rotate3d(0,0,1,45deg);
    }

    .mobile-button.active:after {
        -webkit-transform:rotate3d(0,0,1,-45deg);
        -moz-transform:rotate3d(0,0,1,-45deg);
        transform:rotate3d(0,0,1,-45deg);
    }

    .btn-submenu {
        position: absolute;
        right: 0;
        top: 0;
        font: 20px/50px 'FontAwesome';
        text-align: center;
        cursor: pointer;
        width: 70px;
        height: 44px;
    }

    .btn-submenu:before {
        content: "\f107";
        color: #000;
    }

    .btn-submenu.active:before {
        content: "\f106"
    }

    .mobile-button.v2:before,
    .mobile-button.v2:after,
    .mobile-button.v2 span {
        background: #f3728b;
    }

    .mobile-button.v2 {
        right: 21px;
        left: unset;
        z-index: 1;
    }

/* Mobile navigation
-------------------------------------------------- */
    #mainnav-mobi {
        display: block;
        margin: 0 auto;
        width: 100%;
        position: absolute;
        background-color: #fff;
        z-index: 1000;
        top: 100%;
        left: 0;
    }

    #mainnav-mobi ul {
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    #mainnav-mobi ul li {
        margin:0;
        position: relative;
        text-align: left;
        /* border-top: 1px solid #333333; */
        cursor: pointer
    }

    #mainnav-mobi ul > li > a  {
        text-decoration: none;
        height: 50px;
        line-height: 45px;
        padding: 0 15px;
        color: #000;
        font-weight: titillium;
    }

    #mainnav-mobi ul.sub-menu {
        top: 100%;
        left: 0;
        z-index: 2000;
        position: relative;
        background-color: #fff;
    }

    #mainnav-mobi > ul > li > ul > li,
    #mainnav-mobi > ul > li > ul > li > ul > li {
        position: relative;
        /* border-top: 1px solid #333333; */
    }

    #mainnav-mobi > ul > li > ul > li > ul > li a {
        padding-left: 50px !important;
    }

    #mainnav-mobi  ul > li > ul > li a {
        padding-left: 30px !important;
    }

    #mainnav-mobi ul.submenu > li > a {
        display: block;
        text-decoration: none;
        border-top-color: rgba(255,255,255,.1);
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

    #mainnav-mobi > ul > li > ul > li:first-child a {
        border-top: none;
    }

    #mainnav-mobi ul.submenu > li > a:hover,
    #mainnav-mobi > ul > li > ul > li.active > a,
    #mainnav-mobi ul > li.active > a {
        color: #f3728b;
    }

    .card-body p{
        font-size: 16px;
    font-weight: 300;
    line-height: 1.7;
    font-family: Muli,Arial,sans-serif;
    }



    .slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
      
/* >>>>>>>>>>>>>>>>>>>>>>>>>  blinking Text Style <<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.cardtopLabel{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.blinking{
    animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText{
    0%{     color: red;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: red;    }
}
   

/* ================ Breadcrumb =============================== */

.overlay, .overlay-2 {
    position: relative;
  }
  .overlay-2::before {
    opacity: 0;
  }
  .overlay::before, .overlay-2::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  .ptb-25 {
    padding: 15px 0;
  }
  .broder-bottom {
    border-bottom: 1px solid #ddd;
  }
  .text-center {
    text-align: center;
  }
  .text-uppercase {
    text-transform: uppercase;
  }
  .breadcrumb-list ul li.active a{
    color: #0d58ab;
  }
  
  .breadcrumb-list ul li a{
    font-weight: 600;
  }
  
  .breadcrumb-list li {
    list-style: none;
    display: inline-block;
  }


  .widget-categories.v2 {
    padding: 25px 0 23px 37px;
    margin-bottom: 43px;
}
.widget-categories {
    border-radius: 4px;
    overflow: hidden;
}
.bg-ccc{
    background: #eaeaea;
}
.widget-categories.v2 .title-widget {
    background-color: unset;
    padding: 0 0;
    color: #192836;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 12px;
}
.widget-categories.v2 ul li {
    margin-bottom: 10px;
}
.widget-categories ul li a:hover, .widget-categories ul li a:hover span {
    color: #0d58ab;
    border-bottom: 1px solid #0d58ab;
}
.sidebar-right{
    margin-top: 20px;
}