    fieldset 
    {
        margin: 0;
        padding: 10px;       
        position: relative;
        border-radius:4px;
        background-color:#f5f5f5;
        padding-left:10px!important;
    }	
    legend
    {
        font-size:17px;
        font-weight:bold;
        margin-bottom: 0px; 
        width: auto; 
        border: 1px solid inherit !important;
        border-radius: 4px; 
        padding: 5px 5px 5px 10px !important; 
        color: #fff;
    }

    .box{
    padding:60px 0px;
}

.box-part{
    background:#ccc;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
}
.text{
    margin:20px 0px;
}



/*  ==================== Tab Style =============== */

.flat-filter-isotype li.active a, .flat-filter-isotype li a:hover {
    color: #0d66c7 !important;
    background: none !important;
    border-bottom: 1px solid #0d58ab !important;
}
.flat-filter-tabs li a {
    line-height: 57px;
    background: #fff;
    font-weight: 700;
    display: block;
    padding: 0 34px 0 36px;
    border-radius: none !important;
    border-bottom: 1px solid #0d66c7 !important;
}
.flat-filter-tabs {
    margin-bottom: 50px;
}

.flat-filter-tabs li {
    display: inline-block;
    margin: 0 6px;
    margin-bottom: 30px;
}

.flat-filter-isotype li a {
    line-height: 35px !important;
    background: #fff;
    border: none !important;
    font-weight: 700;
    display: block;
    padding: 10px 0px 0px 27px !important;
    border-radius: none !important;
}
.flat-filter-isotype{
    margin-bottom: 0px !important;
}
.course{
    position: inherit !important;left: 0px;top: 0px;
}

input:required { 
    border-left: 2px solid red;
  }
  select:required { 
    border-left: 2px solid red;
  }
  textarea:required{
   border-left: 2px solid red;
  }