    fieldset 
    {
        margin: 0;
        padding: 10px;       
        position: relative;
        border-radius:4px;
        background-color:#f5f5f5;
        padding-left:10px!important;
    }	
    legend
    {
        font-size:17px;
        font-weight:bold;
        margin-bottom: 0px; 
        width: auto; 
        border: 1px solid inherit !important;
        border-radius: 4px; 
        padding: 5px 5px 5px 10px !important; 
        color: #fff;
    }

    .box{
    padding:60px 0px;
}

.box-part{
    background:#ccc;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
}
.text{
    margin:20px 0px;
}